.Home-Profile{
    width: 100%;
    height: 96vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Home-firstRaw, .Home-SecondRaw{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Home-SecondRaw{
    padding-top: 25px;
}

.Home-SecondRaw .Home-AddRaw{
    display: flex;
    flex-direction: column;
    width: 40%;
}


.Home-SecondRaw .Home-AddRaw .Home-LastAchievement{
    display: none;
}

@media only screen and (max-width: 1150px){
    .Home-Profile{
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .Home-Profile::-webkit-scrollbar {
        display: none;
    }
    .Home-firstRaw{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px){
    .Home-SecondRaw .Home-LastAchievement{
        display: none;
    }
    .Home-SecondRaw .Home-AddRaw .Home-LastAchievement{
        display: flex;
    }
    .Home-SecondRaw .Home-AddRaw{
        width: 90%;
    }
}