.Home-Profile{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.Home-firstRaw, .Home-SecondRaw{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Home-SecondRaw{
    padding-top: 25px;
}

.Home-SecondRaw .Home-AddRaw{
    display: flex;
    flex-direction: column;
    width: 40%;
}


.Home-SecondRaw .Home-AddRaw .Home-LastAchievement{
    display: none;
}

.Home-SecondRaw .stats-friends{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 970px;
}

.Home-AddRaw .state-profile{
    display: none;
}
@media only screen and (max-width: 1150px){
    .Home-SecondRaw .stats-friends{
        width: 25%;
        height: 750px;
    }
    
    .Home-Profile{
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .Home-Profile::-webkit-scrollbar {
        display: none;
    }
    .Home-firstRaw{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px){
    .Home-SecondRaw .stats-friends{
        width: 14%;
        height: 850px;
    }
    .Home-SecondRaw .Home-LastAchievement{
        display: none;
    }
    .Home-SecondRaw .Home-AddRaw .Home-LastAchievement{
        display: flex;
    }
    .Home-AddRaw .state-profile{
        display: flex;
    }
    .stats-friends .state-profile{
        display: none;
    }
    .Home-SecondRaw .Home-AddRaw{
        width: 100% !important;
    }
}