
.SingIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    left: 0;
    width: 50%;
    z-index: 2;
    padding: 0 4%;
    font-family: var(--mono);
}

.SingUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    transition: all 0.6s ease-in-out;
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    padding: 0 4%;
    font-family: var(--mono);
}


.SingUp .PrimaryInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SingUp .PrimaryInfo input{
    width: 45%;
}

.SingUp form, .SingIn form{
    display: flex;
    flex-direction: column;
}


.SingUp input, .SingIn input{
    border: none;
    border-bottom: solid 1px white;
    background-color: transparent;
    margin-top: 8%;
    padding-left: 1%;
    color: white;
    font-family: var(--mono);
    font-weight: 100;
}
.SingUp input:focus, .SingIn input:focus{
    outline: none;
}

.SingIn .DirectConx, .SingUp .DirectConx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2% 25%;
}

.SingIn .lines , .SingUp .lines{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.SingIn .lines span, .SingUp .lines span{
    width: 45%;
    height: 1px;
    background-color: white;
}

.SingIn .DirectConx img, .SingUp .DirectConx img{
    width: 60%;
}

.SingIn a{
    margin-top: 8%;
}

.SingUp button, .SingIn button{
    margin: 8% 4%;
    height: 2.5vh;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    border-radius: 10px;
}

.SingUp button:hover, .SingIn button:hover{
    border: solid 1px #ffffff28;
    background-color: #ffffff58;
}

.SingIn input::placeholder, .SingUp input::placeholder{
    color: rgba(255, 255, 255, 0.65);
    font-family: var(--mono);
    font-weight: 100;
}

.SecondContainer{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    z-index: 100;
}

.SecondContainer .content{
    background: #41034f59;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: 0.6s ease-in-out;
}

.LeftContent{
    position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 4% ;
     text-align: center;
     top: 0;
     height: 100%;
     width: 50%;
     transform: translateX(0);
     transition: 0.6s ease-in-out;
     transform: translateX(-20%);
     font-family: var(--mono);
    }
    
.RightContent{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4%;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: 0.6s ease-in-out;
    right: 0;
    transform: translateX(0);
    font-family: var(--mono);
}

.SecondContainer .content h1{
    margin-bottom: 5%;
}

.SecondContainer .content span{
    margin-bottom: 5%;
    font-size: 200;
}

