.searchFriend {
	display: flex;
	justify-content: center;
	/* padding: 2vh 0; */
	padding: 2vh 0;
}

.searchfrienContainer {
	display: flex;
	align-items: center;
	border-radius: 50px;
	padding: 1.5vh;
	border: 1px solid white;
	width: 70%;
	background-color: transparent;
}

.searchfrienContainer .search-icon {
	color: white;
	margin-right: 10px;
	cursor: pointer;
}
.searchfrienContainer .arrow-icon {
	color: white;
	margin-right: 10px;
	cursor: pointer;
}

.searchfrienContainer input {
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
	font-size: 16px;
	flex: 1;
}

.searchfrienContainer input::placeholder {
	color: white;
	font-size: 16px;
}

.all-friends-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.all-friends {
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #888 transparent;
}

.friends-container {
	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #888 transparent;
}

.friendProfile {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--fade);
	margin: 4%;
	padding: 2%;
	border-radius: 10px;
}

.imageNameFriend {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;

	position: relative; /* add by naima for online user*/
}

.friendProfile .friendImage {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.imageNameFriend .onlineCircle-friend{ /* add by naima for online user*/
	width: 9px;
    height: 9px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #04de04;
    background-color: #04de04;
    top: 28px;
	left: 30px;
}

.friendProfile .iconFriend {
	display: flex;
	flex-direction: row;
}

/* .friendProfile .iconFriend .user {
	margin-right: 10px;
	cursor: pointer;
}

.friendProfile .iconFriend .chat {
	cursor: pointer;
}

.friendProfile .iconFriend .user:hover {
	color: var(--primary);
}

.friendProfile .iconFriend .chat:hover {
	color: var(--primary);
} */

.friendProfile .iconFriend .block {
	text-align: center;
	border: none;
	margin-right: 15px;
	padding: 5% 1vh;
	font-size: 14px;
	border-radius: 8px;
	background-color: #c1596c99;
	color: white;
	cursor: pointer;
}
.friendProfile .iconFriend .remove {
	text-align: center;
	border: none;
	margin-right: 15px;
	padding: 5% 1vh;
	font-size: 14px;
	border-radius: 8px;
	background-color: #808080;
	color: white;
	cursor: pointer;
}
