.bodyFriends .BlockedFriend:first-child {
	margin-top: 4vh;
}

.unblock {
	text-align: center;
	border: none;
	margin-right: 15px;
	padding: 1.5% 1vh;
	font-size: 14px;
	border-radius: 8px;
	background-color: #808080;
	color: white;
	cursor: pointer;
}