.Home-ProfileUser{
    width: 55%;
    height: 210px;
    background-color: var(--fade);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home-ProfileUser .Home-ProfileElements{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    justify-content: space-around;
    height: 190px;
}

.Home-ProfileUser .Home-Btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: -1%;
}
.Home-ProfileUser .Home-Btn .proBtn{
    display: flex;
    margin-right: 5%;
    height: 25px;
    width: 17%;
}

.Home-ProfileUser .Home-Btn .proBtn button{
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: 20px;
    /* font-size: 1vh; */
    /* font-size: 1px; */
    width: 100%;
    margin-left: 5%;
}

.Home-ProfileUser .Home-Btn .proBtn .link{
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: 20px;
    /* font-size: 1vh; */
    width: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-ProfileUser .Home-Btn .proBtn i{
    margin-right: 2%;
}

.Home-ProfileUser h2{
    color: var(--primary);
    font-family: var(--sans);
    margin-left: 18px;
    /* font-size: 2vh; */
}

.Home-ProfileContent{
    /* height: 15vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.Home-imgUser{
    /* width: 24%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
}

.Home-imgUser .Home-img{
    width: 75px;
    height: 75px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

.Home-img img{
    width: 100%;
    object-fit: cover;
}
.Home-UserName{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    font-family: var(--sans);
}


.Home-UserName .Home-online{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    margin-top: 3%;
    /* margin-left: 3px; */
}

.Home-UserName .Home-online .Home-Circle{
    width: 8px;
    height: 8px;
    background-color: #04de04;
    border:1px solid #04de04;
    border-radius: 50%;
    margin: 3px;
    /* margin-top: 4px; */
}

.Home-UserName *:not(:nth-child(2)){
    font-size: 22px;
    font-weight: 400;
}

.Home-UserName *:not(:nth-child(1)){
    /* font-size: 1.5vh; */
    font-weight: 400;
    text-align: center;
    color: #00ff00;
}


.Home-ProfileContent .Home-ProfileLevel{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Home-XpClass{
    display: flex;
    justify-content: end;
    margin: 0 6% 1% 0;
    /* font-size: 1.2vh; */
    font-size: 12px;
    font-family: var(--sans);
}

.Home-level-bar {
    width: 90%;
    background-color: var(--fade);
    border-radius: 20px;
    margin-left: 5%;
    height: 17px;
    overflow: hidden;
    position:relative;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.Home-2);
}

.Home-level-bar-fill {
    height: 100%;
    background-color: var(--primary);
    width: 20%;
    border-radius: 15px;
    transition: width 0.4s ease;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.Home-2);
}

.Home-level-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center text horizontally and vertically */
    color: white; /* Text color */
    /* font-size: 1.2vh; */
    font-size: 12px;
    font-family: var(--sans);
}



.Home-levelUpUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 2vh;
    background-color: var(--primary);
    border-radius: 20px;
    padding-left: 14%;
}

@media only screen and (max-width: 1150px){
    .Home-ProfileUser{
        width: 100%;
    }
}
