.TournamentGames {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* justify-items: center; */
	align-items: center;
	text-align: center;
	gap: 20px;
	position: relative;
	/* border-radius: 20px; */
	/* background-color: var(--fade); */
	font-family: var(--sans);
	margin: auto;
	width: 100%;
}


.TournamentGames h2 {
	color: var(--primary);
	position: relative;
	bottom: 60px;
}

.TournamentGames .tournament-players {
	padding: 20px;
	/* background-color: var(--fade); */
	/* max-width: 4500px; */
	width: 100%;
	/* height: 300px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	border-radius: 25px;
}

.TournamentGames .tournament-players .first-two-match {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	gap: 20px;
}

.tournament-LastMatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 170px;
  border: solid 1px var(--fade);
  background-color: var(--fade);
  border-radius: 18px;
  gap: 8px;
}

.tournament-LastMatch .LastMatchContent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 6px;
  position: relative;
}

.tournament-LastMatch .LastMatchContent .img {
  border-radius: 50%;
  width: 60px;
  border: 2px solid var(--primary);
  position: relative;
}

.tournament-LastMatch .LastMatchContent .win {
  position: absolute;
  top: -22px; /* Adjust to position above the image */
  left: 23%;
  transform: translateX(-50%);
  width: 40px; /* Adjust to crown size */
  height: 40px;
  z-index: 10;
	transform: rotate(-45deg);
}

.tournament-LastMatch .LastMatchContent .win img {
  width: 100%;
}

.tournament-LastMatch .Winner  {
	margin-top: 10px;
}
.tournament-LastMatch .Winner span {
  font-weight: 700;
  font-size: 20px;
  color: var(--primary);
	margin-top: 10px;
}

.TournamentGames .tournament-match {
	/* max-width: 210px; */
	width: 100%;
	background-color: #665c5e;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 22px;
	border-radius: 13px;
	height: 80px;
	padding: 10px;
}
.TournamentGames .tournament-match:nth-child(3) {
	max-width: 95px;
	border-radius: 10px;
	height: 40px;
	/* padding: 5px; */
	width: 100%;
}

.TournamentGames .start-btn {
	padding: 10px;
	max-width: 80px;
	width: 100%;
	text-align: center;
	border: none;
	font-size: 14px;
	border-radius: 11px;
	background-color: var(--primary);
	color: white;
	cursor: pointer;
}
