.Par{
    width: 100%;
    height: 96vh;
    position: relative;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.Par::-webkit-scrollbar {
    display: none;  
}

.settingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 96vh;
    min-height: 900px;
}


.settingPage h1{
    color: var(--primary);
    padding-bottom: 1.5%;
    /* font-size: px; */
    font-family: var(--sans);
}

.settingContent {
    width: 90%;
    height: 780px;
    background-color: var(--fade);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: var(--mono);
    /* min-height: 520px; */
}

.ChangeAvatar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3%;
}

.ChangeAvatar .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.ChangeAvatar .img img{
    width: 100%;
    object-fit: cover;
}

.ChangeAvatar .btns, .alertDeleteUser .btns{
    width: 220px;
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
}

.ChangeAvatar .btns button, .alertDeleteUser .btns button{
    width: 92px;
    height: 40px;
    font-family: var(--mono);
    border-radius: 15px;
    color: white;
    cursor: pointer;
    /* font-size: 1.5%; */
}

.ChangeAvatar .btns *:first-child, .alertDeleteUser .btns *:first-child{
    border: 1px solid white;
    background-color: transparent;
}

.ChangeAvatar .btns *:nth-child(2), .alertDeleteUser .btns *:nth-child(2){
    border: 1px solid var(--primary);
    background-color: var(--primary);
}

.ProfileEdit{
    padding-top: 2.5%;
}

.ProfileEdit, .ChangePass{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ChangePass h2{
    margin-bottom: 3%;
    /* font-size: 2.4%; */
}

.settingContent form{
    width: 98%;
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ProfileEdit-C2, .ChangePass-C2{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ProfileEdit-C1, .ChangePass-C1{
    width: 48%;
    display: flex;
    flex-direction: column;
}


.ChangePass-C1 *:nth-child(3){
    margin-top: 5%;
}

.settingPage label{
    font-weight: 100;
    /* font-size: 1.5%; */
    margin-left: 3px;
    margin-bottom: 5px;
}

.settingPage input{
    background-color: transparent;
    border: solid 1px white;
    border-radius: 8px;
    /* height: 3vh; */
    min-height: 35px;
    color: white;
    font-family: var(--mono);
    padding-left: 7px;
}

.Setting-action{
    display: flex;
    width: 90%;
    padding-bottom: 5%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.saveProfileEdit{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 4%;
}

.saveProfileEdit button{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: white;
    border-radius: 15px;
    width: 12vh;
    height: 40px;
    cursor: pointer;
    /* font-size: 1.5vw; */
}

.Setting-action span{
    color: #ff0000;
    cursor: pointer;
    margin-right: 5px;
    font-family: var(--sans);
}
.Setting-action span i{
    margin-right: 5px;
}

.SettingError{
    font-size:1.4vw;
    margin-top: 4%;
    margin-left: 4%;
    color: #ff0000;
    font-family: var(--sans);
}

/*        Alert confime deleting account         */

.alertDeleteUser{
    position: absolute;
    background-color: var(--fade);
    width: 60%;
    height: 20%;
    min-height: 250px;
    min-width: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alertDeleteUser .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--sans);
}
.alertDeleteUser .content .content-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alertDeleteUser .content h3{
    margin-bottom: 4%;
}
.alertDeleteUser .content span{
    font-weight: 300;
}

.alertDeleteUser .alert-btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.alertDeleteUser .alert-btns button{
    width: 30%;
}

.alertDeleteUser  .iconborder{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--primary);
    border-radius: 50%;
    background-color: var(--primary);
}

.alertDeleteUser .iconborder i{
    font-size: 30px;
}

.alertDeleteUser .alert-text{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}

/*         Account Not Deleted          */

.alert-acountNotDeleted{
    display: none;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 10px;
    width: 420px;
    height: 60px;
    background-color: #ff00005a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    color:#f18b8b;
    border: 1px solid #f18b8b;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, display 0s 0.5s;
}

.alert-acountNotDeleted.show {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .alert-acountNotDeleted.hide {
    opacity: 0;
    transition: opacity 1s ease-in-out, display 0s 1s;
  }

.alert-acountNotDeleted i{
    margin-right: 1.3%;
}

/*         Account Deleted          */




@media only screen and (max-width: 478px) {
    .ProfileEdit-C2, .ChangePass-C2 ,.ProfileEdit-C1, .ChangePass-C1{
        width: 100%;
        margin-top: 5%;
    }
    .Setting-action button{
        width: 20vw;
        font-size: 2.2vw;
    }
    .Setting-action *:nth-child(1){
        font-size: 2.2vw;
    }
    .ProfileEdit h2, .ChangePass h2{
        font-size: 4vw;
    }
}

@media only screen and (min-width: 1200px) {
    .settingContent{
        width: 1000px;
    }
    .alertDeleteUser{
        width: 700px;
    }
}