.Par{
    width: 100%;
    height: 87vh;
    position: relative;
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.Par::-webkit-scrollbar {
    display: none;  
}

.settingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 900px;
}


.settingPage h1{
    color: var(--primary);
    padding-bottom: 1.5%;
    /* font-size: px; */
    font-family: var(--sans);
}

.settingContent {
    width: 90%;
    height: 900px;
    background-color: var(--fade);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: var(--mono);
    /* min-height: 520px; */
}

.ChangeAvatar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3%;
}

.ChangeAvatar .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.ChangeAvatar .img img{
    width: 100%;
    object-fit: cover;
}

.ChangeAvatar .btns, .alertDeleteUser .btns{
    width: 220px;
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
}

.ChangeAvatar .btns button, .alertDeleteUser .btns button{
    width: 92px;
    height: 40px;
    font-family: var(--mono);
    border-radius: 15px;
    color: white;
    cursor: pointer;
    /* font-size: 1.5%; */
}

.ChangeAvatar .btns *:first-child, .alertDeleteUser .btns *:first-child{
    border: 1px solid white;
    background-color: transparent;
}

.ChangeAvatar .btns *:nth-child(2), .alertDeleteUser .btns *:nth-child(2){
    border: 1px solid var(--primary);
    background-color: var(--primary);
}

.ProfileEdit{
    padding-top: 2.5%;
}

.ProfileEdit, .ChangePass{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ChangePass h2{
    margin-bottom: 3%;
    /* font-size: 2.4%; */
}

.settingContent .dataform{
    width: 98%;
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.settingContent .PassForm{
    width: 98%;
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ProfileEdit-C2, .ChangePass-C2{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.ProfileEdit-C1, .ChangePass-C1{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.ChangePass-C1{
    /* height: 84px; */
    position: relative;
    padding-bottom: 15px;
}
.ChangePass-C2{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.ChangePass-C2 .element1-changPass,
.ChangePass-C2 .element2-changPass{
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: space-between;
    position: relative;
}

.ProfileEdit-C1,.ProfileEdit-C2{
    position: relative;
}

.settingPage label{
    font-weight: 100;
    /* font-size: 1.5%; */
    margin-left: 3px;
    margin-bottom: 5px;
}

.settingPage input{
    background-color: transparent;
    border: solid 1px white;
    border-radius: 8px;
    /* height: 3vh; */
    min-height: 35px;
    color: white;
    font-family: var(--mono);
    padding-left: 7px;
    /* position: relative; */
}

.Setting-action{
    display: flex;
    width: 90%;
    padding-bottom: 5%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.saveProfileEdit{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 4%;
}

.saveProfileEdit button{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: white;
    border-radius: 15px;
    width: 12vh;
    height: 40px;
    cursor: pointer;
    /* font-size: 1.5vw; */
}

.Setting-action span{
    color: #ff0000;
    cursor: pointer;
    margin-right: 5px;
    font-family: var(--sans);
}
.Setting-action span i{
    margin-right: 5px;
}


.SettingError{
    font-size:12px;
    font-family: var(--sans);
    background-color: #f8d7da; 
    color: #721c24;
    border: 1px solid #f5c6cb;
    height: auto;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    margin-top: 5px;
    position: absolute;
    top: 65px;
    left: 5px;
}


/*        Alert confime deleting account         */

.alertDeleteUser{
    position: absolute;
    background-color: var(--fade);
    width: 60%;
    height: 20%;
    min-height: 250px;
    min-width: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alertDeleteUser .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--sans);
}
.alertDeleteUser .content .content-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alertDeleteUser .content h3{
    margin-bottom: 4%;
}
.alertDeleteUser .content span{
    font-weight: 300;
}

.alertDeleteUser .alert-btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.alertDeleteUser .alert-btns button{
    width: 30%;
}

.alertDeleteUser  .iconborder{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--primary);
    border-radius: 50%;
    background-color: var(--primary);
}

.alertDeleteUser .iconborder i{
    font-size: 30px;
}

.alertDeleteUser .alert-text{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}

/*         Account Not Deleted          */

.alert-acountNotDeleted{
    display: none;
    position: absolute;
    z-index: 10;
    top: 70px;
    right: 10px;
    width: 420px;
    height: 60px;
    background-color: #ff00005a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    color:#f18b8b;
    border: 1px solid #f18b8b;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, display 0s 0.5s;
}

.alert-acountNotDeleted.show {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.alert-acountNotDeleted.hide {
    opacity: 0;
    transition: opacity 1s ease-in-out, display 0s 1s;
}

.alert-acountNotDeleted i{
    margin-right: 1.3%;
}

/*         enable otp          */

.EnableOtp {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4%;
    border-radius: 10px;
    border: 1px solid var(--fade);
    background-color: var(--fade);
    /* align-items: center;
    justify-content: flex-start; */
  }
  
.EnableOtp .check{
  display: flex;
  flex-direction: row;
   align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 2% 2% 1% 2%;
}

.EnableOtp .content{
    width: 90%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.EnableOtp .content span{
    font-weight: 100;
    color: #b0b0b0;
}

.EnableOtp .check input {
  width: 65px;
  height: 20px;
  min-height: 28px;
  border-radius: 20px;
  background-color: var(--fade);
  position: relative;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.EnableOtp input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.EnableOtp input::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: left 0.3s ease;
}

.EnableOtp input:checked::before {
  left: calc(100% - 25px);
}

.EnableOtp label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #fbfbfb;
}

.EnableOtp .description {
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.alertOTP{
    width: 40%;
    height: 35%;
    min-height: 450px;
    max-height: 550px;
    min-width: 300px;
    max-width: 450px;
}
.alertOTP .cancelIcon{
    display: flex;
    width: 90%;
    justify-content: flex-end;
}

.alertOTP .cancelIcon i{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}

.alertOTP .contentOtp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    height: 85%;
    text-align: center;
    font-family: var(--sans);
}

.alertOTP .contentOtp .iconEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 30%; */
}

.alertOTP .contentOtp .iconEmail i{
    color: var(--primary);
    font-size: 65px;
    
}
.alertOTP .contentOtp .iconEmail span{
    height: 2px;
    width: 65%;
    background-color: #cccccc;
    background: linear-gradient(to right, var(--primary), #cccccc);
    border-radius: 10px; 
}

.alertOTP .contentOtp .content-text{
    display: flex;
    flex-direction: column;
    height: 40%;
    align-items:start;
    align-items: center;
    /* margin-top: -8%; */
    justify-content: space-around;
}

.alertOTP .contentOtp .content-text span{
    font-weight: 200;
}

.alertOTP .contentOtp .Codefiled{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 20%;
}

.alertOTP .contentOtp .content-text input {
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
    text-align: center;
}
.alertOTP .contentOtp .content-text input::placeholder {
    font-weight: 100;
    font-size: 15px;
    color: rgb(161, 154, 154);
    text-align: center;
}
  
.alertOTP .contentOtp .content-text input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 5px var(--primary);
  }

.alertOTP .Codefiled button{
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: white;
    cursor: pointer;
}



/********************************************/


.alertOTP .contentvalidate{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--mono);
}

.alertDeleteUser .contentvalidate .fa-circle-check {
    font-size: 55px;
    color: #fff;
    background: radial-gradient(circle, #3fa73f, #3fa73f);
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px #3a9f3ad1;
}

.alertDeleteUser .contentvalidate .fa-circle-xmark{
    font-size: 55px;
    color: #fff;
    background: radial-gradient(circle, #c92929, #c92929);
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(139, 23, 23, 0.682);
}
.alertOTP .contentvalidate h2{
    color: #3fa73f;
    text-shadow: 0 4px 8px #3a9f3ad1;
}

.alertOTP .contentvalidate .fail{
    color: #c92929;
    text-shadow: 0 4px 8px rgba(139, 23, 23, 0.682);
}


.alertDeleteUser .contentvalidate h3 {
    font-weight: bold;
    margin: 10px 0;
    color: #ffffff;
}

.alertDeleteUser .contentvalidate span {
    font-size: 16px;
    color: #e8f5e9;
    margin-top: 5px;
}

.alertOTP .contentvalidate .Codefiled{
    display: flex;
    align-items: center;
    justify-content: center;
}
.alertOTP .contentvalidate .Codefiled button{
    height: 35px;
    width: 90px;
    margin-top: 10%;
    background-color: #3fa73f;
    border-color:#3fa73f;
}
.alertOTP .contentvalidate .Codefiled .failbutton{
    height: 35px;
    width: 90px;
    margin-top: 10%;
    background-color: #c92929;
    border-color:#c92929;
}

@media only screen and (max-width: 478px) {
    .ProfileEdit-C2, .ChangePass-C2 ,.ProfileEdit-C1, .ChangePass-C1{
        width: 100%;
        margin-top: 15px;
    }
    .Setting-action button{
        width: 20vw;
        font-size: 2.2vw;
    }
    .Setting-action *:nth-child(1){
        font-size: 2.2vw;
    }
    .ProfileEdit h2, .ChangePass h2{
        font-size: 4vw;
    }
    .settingContent{
        height: 950px;
    }
    .EnableOtp input::before {
        width: 15px;
        height: 15px;
    }

    .ChangePass-C2{
        flex-direction: column;
    }

    .ChangePass-C2 .element1-changPass,
    .ChangePass-C2 .element2-changPass{
        width: 100%;
    }


    .settingPage{
        justify-content: flex-start;
        padding-top: 19px;
    }
    .settingContent{
        height: 1100px;
    }

    /* .Par{
        height: 96vh;
    } */
}

@media only screen and (min-width: 1200px) {
    .settingContent{
        width: 1000px;
    }
    .alertDeleteUser{
        width: 700px;
    }
}