.landing{
    position: relative;
    top: 80px;
    width: 40%;
    color: white;
    padding: 0 0 0 10%;
}

.landingCon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40px;
}
/* 
.landingCon h1{
    font-family: var(--sans);
}

.paragraph{
    width: 100%;
}*/
.paragraph p{
    text-align: left;
    font-size: 20px;
    margin-top:20px ;
    padding: 0 20px;
}
