.bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--itemColor);
	border-radius: 0 0 30px 30px;
	padding: 1.4dvh;
	gap: 20px;
	position: relative;
	min-width: 320px;
	font-family: var(--sans);
}

.messageContent {
	display: flex;
	align-items: center;
	border-radius: 15px;
	background-color: #d9d9d94d;
	padding: 1dvh;
	width: 85%;
}

.messageContent textarea {
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
	font-size: 15px;
	flex: 1;
	min-height: 25px; /* Set the minimum height */
	max-height: 200px; /* Set the maximum height */
	resize: vertical; /* Allow resizing vertically */
	overflow-y: auto; /* Scroll if content exceeds max height */
}

.messageContent textarea::placeholder {
	color: white;
	font-size: 14px;
}

.subButton {
	background-color: var(--primary);
	border: none;
	padding: 1dvh;
	border-radius: 50%;
	cursor: pointer;
}

.send-icon {
	color: white;
	font-size: 18px;
}

.emoji {
	position: relative;
	cursor: pointer;
}

.emoji .emoji-icon {
	color: white;
	font-size: 22px;
}

.emoji .picker {
	position: absolute;
	bottom: 50px;
	left: 0;
}

.block {
	font-family: var(--sans);
}

@media (max-width: 478px) {
	.bottom {
		padding: 1.5dvh;
		gap: 10px;
		border-radius: 0;
		min-width: none;
	}

	.messageContent {
		border-radius: 16px;
		padding: 1.5dvh;
	}

	.messageContent .partage-icon {
		font-size: 16px;
	}

	.messageContent input {
		font-size: 15px;
	}

	.send-icon {
		color: white;
		font-size: 15px;
	}

	.subButton {
		padding: 0.8dvh;
	}
}
