.verifcationAlert{
    width: 33%;
    height: 37%;
    max-width: 600px;
    max-height: 700px;
    min-height: 400px;
    min-width: 320px;
    background-color: var(--fade);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
         0 10px 10px rgba(0, 0, 0, 0.22);
}

.verifcationAlert .contentAlert{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.verifcationAlert .contentAlert .iconAlert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--primary);
    font-size: 65px;
}


/* .verifcationAlert .contentAlert .iconAlert{
} */

.verifcationAlert .contentAlert .iconAlert span{
    height: 2px;
    width: 65%;
    background-color: #cccccc;
    background: linear-gradient(to right, var(--primary), #cccccc);
    border-radius: 10px; 
}

.verifcationAlert .contentAlert .content-text{
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    text-align: center;
    /* margin-top: -8%; */
    justify-content: space-around;
    font-family: var(--mono);
}

.errorPass{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.errorPass p{
    color: rgb(177, 0, 0);
    font-weight: 100;
    font-size: 1.1vh;
}


.verifcationAlert .contentAlert .content-text h3{
    font-weight: bolder;
    margin-bottom: 10px;
}

.verifcationAlert .contentAlert .content-text span{
    font-weight: 200;
}


.contentAlert .content-text .inputs-filed{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 60%;
}
.contentAlert .content-text .inputs-filed  input {
    font-size: 16px;
    width: 80%;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    transition: border-color 0.3s;
    padding-left: 10px;
    /* text-align: center; */
    height: 38px;
    color: white;
}
.contentAlert .content-text .inputs-filed input::placeholder {
    font-weight: 100;
    font-size: 15px;
    color: rgb(161, 154, 154);
    padding-left: 2px;
    /* text-align: center; */
    font-family: var(--mono);
}
  
.contentAlert .content-text .inputs-filed input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 5px var(--primary);
  }


.verifcationAlert .contentAlert  .buttonField {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 16%;
}
.verifcationAlert .contentAlert  .buttonField button{
    width: 50%;
    height: 70%;
    border-radius: 10px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: white;
    cursor: pointer;
}


