/* HTML: <div class="loader"></div> */
.loader-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 96vh;
}

.loader {
    width: 159px;
    height: 140px;
    border: 5px solid transparent;
    padding: 0 8px;
    box-sizing: border-box;
    background: linear-gradient(var(--primary) 0 0) 0 0/11px 50px,
                linear-gradient(var(--primary) 0 0) 100% 0/11px 50px,
                radial-gradient(farthest-side,var(--primary) 90%,#0000) 0 5px/18px 18px content-box, transparent;
    background-repeat: no-repeat;
    animation: l3 2s infinite linear;
}

@keyframes l3{
  25% {background-position: 0 0   ,100% 100%,100% calc(100% - 5px)}
  50% {background-position: 0 100%,100% 100%,0    calc(100% - 5px)}
  75% {background-position: 0 100%,100%    0,100% 5px}
}