.Home-homePage {
	width: 100%;
	height: 96vh;
	position: relative;
	overflow-y: auto;
	-ms-overflow-style: none; /* Hide scrollbars in IE and Edge */
	scrollbar-width: none; /* Hide scrollbars in Firefox */
}

.Home-homePage::-webkit-scrollbar {
	display: none;
}

.Home-welcome {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	margin-top: 25px;
}

.Home-userInfo {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 2%;
	width: 100%;
}

.Home-game {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.Home-gameStats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    margin-top: 20px;
	/* height: 640px; */
}


.Home-modeChat .Home-ChatRev {
	display: none;
}

@media only screen and (max-width: 1073px) {
	.Home-modeChat .Home-ChatRev {
		display: flex;
	}
	.Home-ChatRev {
		display: none;
	}
	.Home-modeChat {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.Home-game {
		width: 100%;
	}
}

@media only screen and (max-width: 850px) {

	.Home-gameStats {
		display: flex;
		flex-direction: column;
		justify-content: flex-start
	}
}

@media only screen and (max-width: 850px) {
	.Home-welcome {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 600px) {
	.Home-modeChat .Home-ChatRev {
		display: none;
	}
}

/* @media only screen and (min-height: 1030px){
    .Home-homePage {
        margin-top: 100px;
    }
} */
