.AboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 90vh;
    padding-top: 70px;
}

.AboutUs::-webkit-scrollbar {
    display: none;  
}

.AboutUs-comp{
    width: 90%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    max-width: 1150px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.AboutUs-comp::-webkit-scrollbar {
    display: none;  
}
.AboutUs-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: var(--mono);
    padding-bottom: 2vh;
}

.AboutUs-intro h1{
    color: var(--primary);
    font-size: 2.5vw;
}


.AboutUs-intro span{
    font-family: var(--mono);
    font-size: 1.8vw;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: deleting 6s steps(72, end),
    pause 6s, typing 8s forwards;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 72ch;
    }
  }


  @keyframes pause {
      100% {
          border-right: 2px solid white;
        }
    }
@keyframes deleting {
    0% {
        width: 72ch;
    }
    100% {
        width: 0;
    }
}
.AboutUs-intro span {
    animation-iteration-count: infinite;
}


.AboutUs-team{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.AboutUs-Creator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10vh;
    margin-left: 2%;
    border: solid 2px var(--fade);
    background-color: var(--fade);
    border-radius: 100px;
    filter: grayscale(100%);
    pointer-events: auto;
    overflow: hidden;
    max-height: 500px;
}

.AboutUs-Creator img{
    border-top: solid 2px var(--fade);
    border-radius: 100px;
    width: 19vw;
    max-width: 192px;
    height: 19vw;
}

.AboutUs-Creator:hover{
    filter: grayscale(0%);
}

.AboutUs-Creator:nth-child(1):hover {
    background-color: #e0cdbbb6;
}

.AboutUs-Creator:nth-child(3):hover{
    background-color: #f5b0c99b;
}

.AboutUs-Creator:nth-child(even){
    transform: translateY(5vh);
}

.AboutUs-Creator:nth-child(2):hover{
    background-color: #bbcbc6ba;
}

.AboutUs-Creator:nth-child(4):hover{
    background-color: #f4c0326a;
}

.AboutUs-CreatorInfo{
    display: flex;
    flex-direction: column;
    font-family: var(--mono);
    font-size: 1.2vw;
    text-wrap:balance;
    margin-bottom: 15%;
}

.AboutUs-CreatorContact{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    font-family: var(--mono);
    font-size: 1.2vw;
    margin-bottom: 50%;
    margin-top: 5%;
}


.AboutUs-CreatorContact i{
    color: white;
    margin-top: 10px;
}
.AboutUs-CreatorContact *:nth-child(2){
    margin-left: 4px;
}
@media only screen and (min-width: 1330px){
    .AboutUs-comp{
        background-color: var(--fade);
    }
    .AboutUs-intro h1{
        font-size: 3vh;
    }
    .AboutUs-intro span{
        font-size: 2vh;
    }
    .AboutUs-CreatorInfo{
        font-size: 1.2vh;
    }
    .AboutUs-CreatorContact{
        font-size: 1.2vh;
    }
}
@media only screen and (max-width: 430px){
    .AboutUs{
        height: 70vh;
    }
}