.GameModes{
    display: flex;
    flex-direction: column;
    /* width: 90%; */
    padding: 5px;
}

.GameModes h2{
    font-family: var(--mono) ;
    color: var(--primary);
    font-weight: 800;
}

.GameContents{
    display: flex;
    justify-content: space-between;
}

.Mode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fade);
    border: 1px solid var(--fade);
    padding-left: 14px;
    border-radius: 30px;
    margin-top: 20px;
    width: 30%;
    height: 180px;
    font-family: var(--mono);
}

.Mode div p{
    font-size: 12px;
    font-weight: 320;
    padding-top: 15px;
    font-family: var(--sans);
}

.Mode div button{
    background-color: #ff000000;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    width: 60px;
    height: 25px;
    margin-top: 10px;
    cursor: pointer;
}



