.Home-GameModes{
    display: flex;
    flex-direction: column;
    /* width: 90%; */
    padding: 5px;
}

.Home-GameModes h2{
    font-family: var(--mono) ;
    color: var(--primary);
    font-weight: 800;
}

.Home-GameContents{
    display: flex;
    justify-content: space-between;
}

.Home-Mode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fade);
    border: 1px solid var(--fade);
    padding-left: 14px;
    border-radius: 30px;
    margin-top: 20px;
    width: 30%;
    height: 180px;
    font-family: var(--mono);
}

.Home-Mode:hover{
    border: 1px solid var(--primary);
    transform: scale(1.01);
    box-shadow: 0 10px 20px var(--primary);
}

.Home-Mode div p{
    font-size: 12px;
    font-weight: 320;
    padding-top: 15px;
    font-family: var(--sans);
}

.Home-Mode div button{
    background-color: #ff000000;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    width: 60px;
    height: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.Home-Mode div button:hover{
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

@media only screen and (max-width: 1073px){
    .Home-GameContents{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Home-GameModes{
        width: 100%;
    }
    .Home-Mode{
        width: 90%;
    }
}
