.highlights{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 57%;
    height: 640px;
    font-family: var(--mono);
}

.highlights h2{
    color: var(--primary);
    font-weight: 800;
} 

.highlights .highlights-types{
    width: 100%;
    height: 93%;
    background-color: var(--fade);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.choisesParent{
    display: flex;
    width: 90%;
    height: 8%;
}


.choisesParent .first-tab,
.choisesParent .second-tab
{
    width: 30%;
    /* background-color: red; */
    background-color: #7c7c7c1c;
    /* border: solid 1px #7c7c7c1c; */
    border-bottom: none;
    justify-content: start;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0  0;
    justify-content: space-between;
    border-radius: 15px 15px 0  0;
    cursor: pointer;
}
.choisesParent .first-tab .gameRank-btn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 15px 15px 15px 0;
    /* background-color: transparent; */
    
     background-color: var(--fade);
    /*border-radius: 15px 15px 15px 0; */
    
}
.choisesParent .first-tab .gameRank-btn.rank-tab{
    
    border-radius: 15px 15px 0 0;
    background-color: transparent;
}

.choisesParent .second-tab .LastGame-btn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--fade);
    border-radius: 15px 15px 0px 15px;
    
}
.choisesParent .second-tab .LastGame-btn.lastgame-tab{
    background-color: transparent;
    border-radius: 15px 15px 15px 0px;
}

.highlights .highlights-types .TopPlayers{
    width: 90%;
    height: 80%;
    border-radius: 0 15px 15px 15px;
    background-color: #7c7c7c1c;
    border: solid 1px #7c7c7c1c;
    border-top: none;
    display: flex;
    /* height: 100%; */
    /* align-items */
    /* justify-content: center; */
}


@media only screen and (max-width: 850px) {
    .highlights{
        width: 100%;
    }
}