.userStats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 640px;
    width: 40%;
    font-family: var(--mono);
}

.userStats h2{
    color: var(--primary);
    font-weight: 800;
} 

.userStats .stats-contents, .userStats .stats-content{
    width: 100%;
    height: 93%;
    background-color: var(--fade);
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.stats-contents .labels{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 85px;
}

.stats-contents .labels .win-label,
.stats-contents .labels .loss-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin-top: 10px;
}

.stats-contents .labels .win-label .winlabel-div,
.stats-contents .labels .loss-label .losslabel-div{
    width: 70%;
    height: 48px;
    border-radius: 20px;
    /* border: 1px solid var(--primary) ; */
    background: linear-gradient(0.25turn,var(--primary), transparent);
    /* background-color: var(--primary); */
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.stats-contents .labels .loss-label .losslabel-div{
    background: linear-gradient(0.25turn,#462d4b, transparent);
    /* border: 1px solid #462d4b;
    background-color: #462d4b; */
    
}

.labels span{
    font-family: var(--mono);
    margin-left: 10px;
}


.Nostats{
    height: 60%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.Nostats .stats-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30%;
}

.Nostats .stats-icon i{
    font-size: 150px;
    color: #ffffff1c;
}

.Nostats .NoStats-msg {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
}

.Nostats .NoStats-msg span{
    font-weight: 100;
}

@media only screen and (max-width: 850px) {
    .userStats{
        width: 100%;
        margin-top: 5px;
    }
    .userStats .stats-content{
        align-items: center;
        justify-content: center;
    }
}