

.elemens-tournament{
    gap: 38px;
}

.cupImage{
    width: 56% !important;
    gap: 10px;
}

.cupImage .img img{
    width: 40px;
}
.gmaeTournament{
    display: flex;
    flex-direction: row;
    
}
.gmaeTournament .Timg{
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* overflow: hidden; */
}
.gmaeTournament img{
    border: 1px solid #777676;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}
.gmaeTournament .Timg .img2{
    position: relative;
    box-shadow: 0 10px 31px rgba(0, 0, 0, 0.2);
    left: -20px ;
}
.gmaeTournament .Timg .img3{
    position: relative;
    box-shadow: 0 10px 31px rgba(0, 0, 0, 0.2);
    left: -40px ;
}
.gmaeTournament .Timg .img4{
    box-shadow: 0 10px 31px rgba(0, 0, 0, 0.2);
    position: relative;
    left: -60px ;
}


.gmaeTournament .Timg img:not(:nth-child(1)){
}

.elemens-tournament .tournamentState{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 50%;
}

.stats-icon img{
    width: 150px;
}

.elemens-tournament .tournamentState .SetWinner{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    position: relative;
}
.elemens-tournament .tournamentState .SetWinner .crown{
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    top: -17px;
    left: -17px;
}
.elemens-tournament .tournamentState .SetWinner .crown img{
    width: 100%;
}
.elemens-tournament .tournamentState .SetWinner span{
    color: var(--primary);
    font-weight: 700;
    font-size: 14px;
}

.elemens-tournament .tournamentState .Timg {
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.elemens-tournament .tournamentState .Timg .imgWinner{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.elemens-tournament .tournamentState .Finished{
    display: none;
}
.elemens-tournament .tournamentState .playing{
    font-weight: 700;
    font-size: 14px;
    color: #00ff00;
}

/* added by yasmine */
.gamerank-ele {
    cursor: pointer;
}


@media only screen and (max-width: 550px){
    .elemens-tournament .tournamentState .SetWinner span{
        display: none;
    }
}
@media only screen and (max-width: 400px){
    .elemens-tournament .tournamentState .playing{
        font-weight: 500;
        font-size: 12px;
    }
    .elemens-tournament .tournamentState .SetWinner{
        display: none;
    }
    
    .elemens-tournament .tournamentState .Finished{
        display: flex;
        font-weight: 500;
        font-size: 12px;
        color: #b0adad;
    }
    .elemens-tournament .tournamentState .SetWinner{
        gap: 6px;
    }
    .elemens-tournament img{
        width: 33px !important;
    }
    .elemens-tournament{
        gap: 10px;
    }
}