/* JetBrains Mono */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
/* Josefin Sans */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");


:root {
	/* Main colors */
	--white: #ffffff; /* white pure */
	--primary: #c1596c; /* primary color */
	--secondary: #625fd0; /* secondary color */
	--background: #1e1e1e; /* Background color */
	--fade: #d9d9d91c; /* fade color for component */
	--itemColor: #d9d9d926;

	/* Main font */
	--sans: "Josefin Sans";
	--mono: "JetBrains Mono";
}

* {
	margin: 0;
	padding: 0;
}

.mainContent{
	width: 94%;
	height: 96dvh;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width:476px) {
	.mainContent{
		width: 100%;
	}
}