*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    line-height: 10px;
    background-color: var(--fade);
    z-index: 1;
}

.nav .logo{
    padding: 5px;
    width: 80px;
}

#items ul{
    display: flex;
}

#items li{
    list-style-type: none;
    position: relative;
}

#items li a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    padding: 0px 50px;
} 

.buttons .btn{
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 11px;
    color: white;
    font-family: var(--sans);    
}

#loginBtn{
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

#registerBtn{
    background-color: var(--fade);
    border: 1px solid white;
}

.barIcon {
    display: none;
}

.resBar{
    display: none;
}

@media only screen and (max-width: 430px){
    .buttons .btn{
        display: none;
    }
    #items ul{
        display: none;
    }
    .barIcon{
        display: flex;
        color: white;
        padding: 0 8px;
        font-size: 30px;
        cursor: pointer;
    }
    .resBar{
        flex-direction: column;
        position: fixed;
        top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: var(--fade);
        width: 100%;
        z-index: 1;
    }
    
    .resBar ul{
        list-style-type: none;
    }
    
    .resBar ul li{
        margin-bottom: 40%;
    }

    .line{
        border: 1px solid var(--fade);
        width: 80%;
        margin-bottom:25px;
    }
    
    .resBar li a{
        color:white;
        text-decoration: none;
    }
}

@media only screen and (max-width: 800px){
    .buttons .btn{
        width: 60px;
        height: 35px;
        margin: 8px;
    }
    #items li a {
        padding: 0px 10px;
    }
}

